APP_TITLE=InsightOps AI
APP_DESCRIPTION=AI-powered backend platform for business data analytics
DEBUG=True

DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=insightops
POSTGRES_USER=insightops
POSTGRES_PASSWORD=yourpassword

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:3.2.2

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

AIRFLOW_API_AUTH_JWT_SECRET=change_me_in_real_environment
AIRFLOW_API_AUTH_JWT_ISSUER=airflow

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=insightops_analytics
CLICKHOUSE_USER=insightops
CLICKHOUSE_PASSWORD=clickhouse
