APP_TITLE=InsightOps AI
APP_DESCRIPTION=AI-powered backend platform for business data analytics
DEBUG=True

DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=insightops
POSTGRES_USER=isightops
PoSTGRES_PASSWORD=yourpassword